*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #304869;
}


.password-form{
    border-radius: 50px;
    padding: 2rem;
    text-align: center;
    border: 3px solid #00E165;
    background-color: #001533;
}

h1{
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #00E165;
}

.password{
    height: 50px;
    border-radius: 30px;
    background-color: white;
}




