body{
	background-color: #303133;
}


.password-form{
    padding: 3rem;
    text-align: center;
    background-color: rgb(27, 26, 26);
    position: relative;
    border: 5px solid #00e165;
}

h1{
    font-family: 'Libre Barcode 39 Text', cursive;  
}

.password{
    background-color: white;
    height: 50px;
}
.passwor p{
    margin-bottom: 0;
}

.password-form :before, .password-form :after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);	
    background-size: 400%;
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	z-index: -1;
	animation: steam 15s ease-in-out infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.password-form :after {
	filter: blur(20px);
}



